rich>=10.0.0
dotenv>=0.9.9
pydantic>=1.8.2
sqlalchemy[asyncio] >=1.4.25
fastapi[all]>=0.65.2
psycopg2-binary>=2.9.1
typing-extensions>=4.0.0
uvicorn[standard]>=0.14.0
starlette-exporter>=0.9.0
prometheus_client>=0.14.1
Cython>=3.1.2